menu "Gateway Configuration"
    config GATEWAY_ENABLE
        bool "Gateway Enable"
        default y

    menu "The interface used to connect to the external network"
        config GATEWAY_EXTERNAL_NETIF_STATION
            bool "Use Wi-Fi station interface to connect to the external network"
            default y
        
    endmenu

    menu "The interface used to provide network data forwarding for other devices"
        config GATEWAY_DATA_FORWARDING_NETIF_SOFTAP
            bool "Use Wi-Fi SoftAP interface to provide network data forwarding for other devices"
            default y

            config SET_VENDOR_IE
                bool "Set Vendor ie info"
                default n
                depends on GATEWAY_EXTERNAL_NETIF_STATION && GATEWAY_DATA_FORWARDING_NETIF_SOFTAP
                help
                    "Set Vendor ie information for Wi-Fi router SoftAP"

            menu "custom vendor ie"
                depends on SET_VENDOR_IE
                config VENDOR_OUI_0
                    int "VENDOR_OUI_0"
                    default "122"

                config VENDOR_OUI_1
                    int "VENDOR_OUI_1"
                    default "123"

                config VENDOR_OUI_2
                    int "VENDOR_OUI_2"
                    default "234"
            endmenu

        config GATEWAY_DATA_FORWARDING_NETIF_SPI
            bool "Use SPI interface to provide network data forwarding for other devices (Please contact sales@espressif.com to apply for it)"
            default n

        config GATEWAY_DATA_FORWARDING_NETIF_SDIO
            bool "Use SDIO interface to provide network data forwarding for other devices (Please contact sales@espressif.com to apply for it)"
            default n
            depends on IDF_TARGET_ESP32
    endmenu

    config GATEWAY_GPIO_RANGE_MIN
        int
        default 0

    config GATEWAY_GPIO_RANGE_MAX
        int
        default 33 if IDF_TARGET_ESP32
        default 46 if IDF_TARGET_ESP32S2
        default 19 if IDF_TARGET_ESP32C3
        default 48 if IDF_TARGET_ESP32S3

    
endmenu
