# This is a list of python packages needed for ESP-Gateway. This file is used with pip.
# Please see the Get Started section of the ESP-IDF Programming Guide for further information.
#

# esptool requirements (see components/esptool_py/esptool/setup.py)
esptool
