menu "Gateway Misc Configuration"
    depends on GATEWAY_ENABLE

    menu "Button Configuration"
        config GPIO_BUTTON_SW1
            default 5 if IDF_TARGET_ESP32S3 || IDF_TARGET_ESP32C3
            default "34"
            int "GPIO button of switch"
            help
                Set the GPIO button of switch.

        config IO_GLITCH_FILTER_TIME_MS
            int "IO glitch filter timer ms (10~100)"
            range 10 100
            default 50
    endmenu

    menu "LED_Strip Configuration"
        config BLINK_LED_RMT_CHANNEL
            int "RMT Channel"
            range 0 7
            default 0
            help
                Set the RMT peripheral channel.
                ESP32 RMT channel from 0 to 7
                ESP32-S2 RMT channel from 0 to 3
                ESP32-S3 RMT channel from 0 to 3
                ESP32-C3 RMT channel from 0 to 1

        config GPIO_BLINK
            int "Blink GPIO number"
            range 0 48
            default 8 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32H2
            default 18 if IDF_TARGET_ESP32S2
            default 48 if IDF_TARGET_ESP32S3
            default 5
            help
                GPIO number (IOxx) to blink on and off or the RMT signal for the addressable LED.
                Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.
    endmenu
endmenu
