menu "APP Configuration"
    config MODEM_IS_OPEN
        bool "Enable the Modem function"
        default n
        help
            "Turn on the portable Wi-Fi function,it can convert the 4G network into a wifi signal"
endmenu
