menu "Bridge Driver Configuration"
    depends on BRIDGE_DATA_FORWARDING_NETIF_SPI || BRIDGE_DATA_FORWARDING_NETIF_SDIO

    menu "SPI Configuration"
        depends on BRIDGE_DATA_FORWARDING_NETIF_SPI

        config GPIO_MOSI
            int "GPIO pin for MOSI"
            default 13 if IDF_TARGET_ESP32
            default 11 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
            default  7
            help
                Select the GPIO pin for MOSI

        config GPIO_MISO
            int "GPIO pin for MISO"
            default 12 if IDF_TARGET_ESP32
            default 13 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
            default  2
            help
                Select the GPIO pin for MISO

        config GPIO_SCLK
            int "GPIO pin for SCLK"
            default 14 if IDF_TARGET_ESP32
            default 12 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
            default  6
            help
                Select the GPIO pin for SCLK

        config GPIO_CS
            int "GPIO pin for CS"
            default 15 if IDF_TARGET_ESP32
            default 10 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
            default 10
            help
                Select the GPIO pin for CS

        config ESP_SPI_GPIO_HANDSHAKE
            int "GPIO pin for handshake"
            default 3
            default 2
            help
                GPIO pin to use for handshake with other spi controller

        config ESP_SPI_GPIO_DATA_READY
            int "GPIO pin for data ready interrupt"
            default 4
            help
                GPIO pin for indicating host that SPI slave has data to be read by host

        config SPI_CLK_MHZ
            int "SPI clock speed (MHz)"
            default 10 if IDF_TARGET_ESP32
            default 30
            help
                Set the clock speed (MHz) of SPI interface.

        config ESP_SPI_TX_Q_SIZE
            int "ESP to Host SPI queue size"
            default 10 if IDF_TARGET_ESP32
            default 20
            help
                Smaller Tx queue sizes will reduce data throughput rates(ESP == SPI ==> Host)

        config ESP_SPI_RX_Q_SIZE
            int "Host to ESP SPI queue size"
            default 10 if IDF_TARGET_ESP32
            default 20
            help
                Smaller Rx queue sizes will reduce data throughput rates(ESP <== SPI == Host)
    endmenu

    menu "Enable Debug logs"
        config ESP_SERIAL_DEBUG
            bool "Debug Serial driver data path"
            default 0
            help
                Enable/disable debug prints in serial driver data path

        config ESP_WLAN_DEBUG
            bool "Debug Wlan driver data path"
            default 0
            help
                Enable/disable debug prints in wlan driver data path

        config BRIDGE_BT_ENABLED
            bool "Enable Bluetooth driver"
            default 0
            help
                Enable/disable debug prints in Bluetooth driver data path

        config ESP_BT_DEBUG
            depends on BRIDGE_BT_ENABLED
            bool "Debug Bluetooth driver data path"
            default 0
            help
                Enable/disable debug prints in Bluetooth driver data path
    endmenu
endmenu
