menu "Gateway LiteMesh Configuration"
    config LITEMESH_ENABLE
        bool "Enable LiteMesh"
        default n
        depends on GATEWAY_EXTERNAL_NETIF_STATION && GATEWAY_DATA_FORWARDING_NETIF_SOFTAP
        help
            Enable LiteMesh

    menu "LiteMesh info configuration"
        depends on LITEMESH_ENABLE
        config LITEMESH_VENDOR_ID_0
            int "VENDOR_ID_0 for LiteMesh"
            default 71

        config LITEMESH_VENDOR_ID_1
            int "VENDOR_ID_1 for LiteMesh"
            default 87

        config MESH_ID
            int "MESH_ID for LiteMesh"
            default 77

        config LITEMESH_MAX_CONNECT_NUMBER
            int "Maximum number of connections per node"
            default 8
            range 1 10

        config LITEMESH_MAX_ROUTER_NUMBER
            int "Maximum number of trace router number"
            default 3
            range 1 5

        config LITEMESH_MAX_INHERITED_NETIF_NUMBER
            int "Maximum number of external netif router trace number"
            default 10
            range 1 16

        config JOIN_MESH_WITHOUT_CONFIGURED_WIFI_INFO
            bool "Join Mesh without configured with information"
            default y
            help
                Join the mesh network directly when starting up, regardless of whether Wi-Fi information is configured or not.
                If disabled, it will only join the mesh network after configuring Wi-Fi information.
    endmenu
endmenu