
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_LWIP_L2_TO_L3_COPY=y
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_IPV4_NAPT=y
CONFIG_LWIP_TCP_MSS=624
CONFIG_LWIP_TCP_OVERSIZE_MSS=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partition_table/partitions_esp32.csv"
CONFIG_PARTITION_TABLE_FILENAME="partition_table/partitions_esp32.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y

# mbedtls
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_DYNAMIC_FREE_PEER_CERT=y
CONFIG_MBEDTLS_DYNAMIC_FREE_CONFIG_DATA=y

# For BLE Provisioning using NimBLE stack (Not applicable for ESP32-S2)
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BT_NIMBLE_ENABLED=y

# Temporary Fix for Timer Overflows
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096

# For additional security on reset to factory
CONFIG_ESP_RMAKER_USER_ID_CHECK=y

# ESP Wi-Fi Mesh Lite
CONFIG_MESH_LITE_ENABLE=y
CONFIG_BRIDGE_USE_WEB_SERVER=n
CONFIG_MESH_LITE_SOFTAP_SSID_END_WITH_THE_MAC=y
CONFIG_JOIN_MESH_WITHOUT_CONFIGURED_WIFI_INFO=n