menu "Bridge Configuration"
    config BRIDGE_ENABLE
        bool "Bridge Enable"
        default y

    menu "The interface used to connect to the external network"
        config BRIDGE_EXTERNAL_NETIF_STATION
            bool "Use Wi-Fi station interface to connect to the external network"
            default y

        menu "Network Distribution"
            depends on BRIDGE_EXTERNAL_NETIF_STATION
            config BRIDGE_STATION_CANCEL_AUTO_CONNECT_WHEN_DISCONNECTED
                bool "Wi-Fi station do not automatically connect Wi-Fi when disconnected"
                default n

            config BRIDGE_USE_WEB_SERVER
                bool "Wi-Fi Provisioning over Web Server"
                default y
                help
                    Use Wi-Fi Provisioning over Web Server.

            config BRIDGE_USE_WIFI_PROVISIONING_OVER_BLE
                bool "Wi-Fi Provisioning over Bluetooth Low Energy."
                depends on !IDF_TARGET_ESP32S2
                default n
                help
                    Use Wi-Fi Provisioning over Bluetooth Low Energy.
        endmenu

        config BRIDGE_EXTERNAL_NETIF_MODEM
            bool "Use 4G modem interface to connect to the external network"
            default n

        config BRIDGE_EXTERNAL_NETIF_ETHERNET
            bool "Use ethernet interface to connect to the external network (Please contact sales@espressif.com to apply for it)"
            default n
    endmenu

    menu "The interface used to provide network data forwarding for other devices"
        config BRIDGE_DATA_FORWARDING_NETIF_SOFTAP
            bool "Use Wi-Fi SoftAP interface to provide network data forwarding for other devices"
            default y

            menu "BRIDGE_CUSTOM_SOFTAP is enabled, please configure SoftAP in \"By custom SoftAP menu\""
                visible if BRIDGE_CUSTOM_SOFTAP
            endmenu

            menu "SoftAP Config"
                depends on BRIDGE_DATA_FORWARDING_NETIF_SOFTAP
                visible if !BRIDGE_CUSTOM_SOFTAP

                config ESP_BRIDGE_SOFTAP_SSID
                    string
                    prompt "SoftAP SSID"
                    default "ESP_Bridge" if !BRIDGE_CUSTOM_SOFTAP
                    default BRIDGE_CUSTOM_SOFTAP_SSID if BRIDGE_CUSTOM_SOFTAP
                    help
                        SSID of ESP-Bridge SoftAP.

                config ESP_BRIDGE_SOFTAP_PASSWORD
                    string "SoftAP Password"
                    default "12345678" if !BRIDGE_CUSTOM_SOFTAP
                    default BRIDGE_CUSTOM_SOFTAP_PASSWORD if BRIDGE_CUSTOM_SOFTAP
                    help
                        password of ESP-Bridge SoftAP.

                config ESP_BRIDGE_SOFTAP_SSID_END_WITH_THE_MAC
                    bool "SoftAP SSID ends with the MAC"
                    default n if !BRIDGE_CUSTOM_SOFTAP
                    default BRIDGE_CUSTOM_SOFTAP_SSID_END_WITH_THE_MAC if BRIDGE_CUSTOM_SOFTAP
                    help
                        Add MAC to the end of SSID

                config ESP_BRIDGE_SOFTAP_MAX_CONNECT_NUMBER
                    int "Maximum number of connections per node"
                    default 6 if !BRIDGE_CUSTOM_SOFTAP
                    default BRIDGE_CUSTOM_MAX_CONNECT_NUMBER if BRIDGE_CUSTOM_SOFTAP
                    range 1 10
            endmenu

        config BRIDGE_DATA_FORWARDING_NETIF_USB
            bool "Use USB interface to provide network data forwarding for other devices (Please contact sales@espressif.com to apply for it)"
            default n
            depends on IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
            select TINYUSB
            select TINYUSB_NET_ENABLED

        config BRIDGE_DATA_FORWARDING_NETIF_ETHERNET
            bool "Use ethernet interface to provide network data forwarding for other devices (Please contact sales@espressif.com to apply for it)"
            default n
            depends on !BRIDGE_EXTERNAL_NETIF_ETHERNET

        config BRIDGE_DATA_FORWARDING_NETIF_SPI
            bool "Use SPI interface to provide network data forwarding for other devices (Please contact sales@espressif.com to apply for it)"
            default n

        config BRIDGE_DATA_FORWARDING_NETIF_SDIO
            bool "Use SDIO interface to provide network data forwarding for other devices (Please contact sales@espressif.com to apply for it)"
            default n
            depends on IDF_TARGET_ESP32
    endmenu

    config BRIDGE_GPIO_RANGE_MIN
        int
        default 0

    config BRIDGE_GPIO_RANGE_MAX
        int
        default 33 if IDF_TARGET_ESP32
        default 46 if IDF_TARGET_ESP32S2
        default 19 if IDF_TARGET_ESP32C3
        default 48 if IDF_TARGET_ESP32S3

    menu "ETH Configuration"
        depends on BRIDGE_EXTERNAL_NETIF_ETHERNET || BRIDGE_DATA_FORWARDING_NETIF_ETHERNET

        choice ESP_BRIDGE_ETHERNET_TYPE
            prompt "Ethernet Type"
            default BRIDGE_USE_INTERNAL_ETHERNET if IDF_TARGET_ESP32
            default BRIDGE_USE_SPI_ETHERNET if !IDF_TARGET_ESP32
            help
                Select which kind of Ethernet will be used in the ESP-Bridge.

            config BRIDGE_USE_INTERNAL_ETHERNET
                depends on IDF_TARGET_ESP32
                select ETH_USE_ESP32_EMAC
                bool "Internal EMAC"
                help
                    Use internal Ethernet MAC controller.

            config BRIDGE_USE_SPI_ETHERNET
                bool "SPI Ethernet"
                select ETH_USE_SPI_ETHERNET
                help
                    Use external SPI-Ethernet module(s).
        endchoice

        if BRIDGE_USE_INTERNAL_ETHERNET
            menu "Bridge ETH PHY Model"
                config BRIDGE_ETH_PHY_IP101
                    bool "IP101"
                    default y
                    help
                        IP101 is a single port 10/100 MII/RMII/TP/Fiber Fast Ethernet Transceiver.
                        Goto http://www.icplus.com.tw/pp-IP101G.html for more information about it.

                config BRIDGE_ETH_PHY_RTL8201
                    bool "RTL8201/SR8201"
                    default y
                    help
                        RTL8201F/SR8201F is a single port 10/100Mb Ethernet Transceiver with auto MDIX.
                        Goto http://www.corechip-sz.com/productsview.asp?id=22 for more information about it.

                config BRIDGE_ETH_PHY_LAN87XX
                    bool "LAN87xx"
                    default y
                    help
                        Below chips are supported:
                        LAN8710A is a small footprint MII/RMII 10/100 Ethernet Transceiver with HP Auto-MDIX and
                            flexPWR® Technology.
                        LAN8720A is a small footprint RMII 10/100 Ethernet Transceiver with HP Auto-MDIX Support.
                        LAN8740A/LAN8741A is a small footprint MII/RMII 10/100 Energy Efficient Ethernet Transceiver
                            with HP Auto-MDIX and flexPWR® Technology.
                        LAN8742A is a small footprint RMII 10/100 Ethernet Transceiver with HP Auto-MDIX and
                            flexPWR® Technology.
                        Goto https://www.microchip.com for more information about them.

                config BRIDGE_ETH_PHY_DP83848
                    bool "DP83848"
                    default y
                    help
                        DP83848 is a single port 10/100Mb/s Ethernet Physical Layer Transceiver.
                        Goto http://www.ti.com/product/DP83848J for more information about it.

                config BRIDGE_ETH_PHY_KSZ80XX
                    bool "KSZ80xx"
                    default y
                    help
                        With the KSZ80xx series, Microchip offers single-chip 10BASE-T/100BASE-TX
                        Ethernet Physical Layer Tranceivers (PHY).
                        The following chips are supported: KSZ8001, KSZ8021, KSZ8031, KSZ8041,
                            KSZ8051, KSZ8061, KSZ8081, KSZ8091
                        Goto https://www.microchip.com for more information about them.
            endmenu

            config BRIDGE_ETH_MDC_GPIO
                int "SMI MDC GPIO number"
                range BRIDGE_GPIO_RANGE_MIN BRIDGE_GPIO_RANGE_MAX
                default 23
                help
                    Set the GPIO number used by SMI MDC.

            config BRIDGE_ETH_MDIO_GPIO
                int "SMI MDIO GPIO number"
                range BRIDGE_GPIO_RANGE_MIN BRIDGE_GPIO_RANGE_MAX
                default 18
                help
                    Set the GPIO number used by SMI MDIO.

            config BRIDGE_ETH_PHY_RST_GPIO
                int "PHY Reset GPIO number"
                range -1 BRIDGE_GPIO_RANGE_MAX
                default 5
                help
                    Set the GPIO number used to reset PHY chip.
                    Set to -1 to disable PHY chip hardware reset.

            config BRIDGE_ETH_PHY_ADDR
                int "PHY Address"
                range 0 31
                default 1
                help
                    Set PHY address according your board schematic.
        endif # BRIDGE_USE_INTERNAL_ETHERNET

        if BRIDGE_USE_SPI_ETHERNET
            config BRIDGE_ETH_SPI_HOST
                int "SPI Host Number"
                range 0 2
                default 1
                help
                    Set the SPI host used to communicate with the SPI Ethernet Controller.

            config BRIDGE_ETH_SPI_SCLK_GPIO
                int "SPI SCLK GPIO number"
                range BRIDGE_GPIO_RANGE_MIN BRIDGE_GPIO_RANGE_MAX
                default 14 if IDF_TARGET_ESP32
                default 17 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
                default 6 if IDF_TARGET_ESP32C3
                help
                    Set the GPIO number used by SPI SCLK.

            config BRIDGE_ETH_SPI_MOSI_GPIO
                int "SPI MOSI GPIO number"
                range BRIDGE_GPIO_RANGE_MIN BRIDGE_GPIO_RANGE_MAX
                default 13 if IDF_TARGET_ESP32
                default 16 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
                default 7 if IDF_TARGET_ESP32C3
                help
                    Set the GPIO number used by SPI MOSI.

            config BRIDGE_ETH_SPI_MISO_GPIO
                int "SPI MISO GPIO number"
                range BRIDGE_GPIO_RANGE_MIN BRIDGE_GPIO_RANGE_MAX
                default 12 if IDF_TARGET_ESP32
                default 18 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
                default 2 if IDF_TARGET_ESP32C3
                help
                    Set the GPIO number used by SPI MISO.

            config BRIDGE_ETH_SPI_CLOCK_MHZ
                int "SPI clock speed (MHz)"
                range 5 80
                default 12 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32C3
                default 23 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
                help
                    Set the clock speed (MHz) of SPI interface.

            config BRIDGE_ETH_SPI_CS0_GPIO
                int "SPI CS0 GPIO number for SPI Ethernet module #1"
                range BRIDGE_GPIO_RANGE_MIN BRIDGE_GPIO_RANGE_MAX
                default 15 if IDF_TARGET_ESP32
                default 10 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3
                help
                    Set the GPIO number used by SPI CS0, i.e. Chip Select associated with the first SPI Eth module).

            config BRIDGE_ETH_SPI_INT0_GPIO
                int "Interrupt GPIO number SPI Ethernet module #1"
                range BRIDGE_GPIO_RANGE_MIN BRIDGE_GPIO_RANGE_MAX
                default 4 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3
                help
                    Set the GPIO number used by the first SPI Ethernet module interrupt line.

            config BRIDGE_ETH_SPI_PHY_RST0_GPIO
                int "PHY Reset GPIO number of SPI Ethernet Module #1"
                range -1 BRIDGE_GPIO_RANGE_MAX
                default -1
                help
                    Set the GPIO number used to reset PHY chip on the first SPI Ethernet module.
                    Set to -1 to disable PHY chip hardware reset.

            config BRIDGE_ETH_SPI_PHY_ADDR0
                int "PHY Address of SPI Ethernet Module #1"
                range 0 31
                default 1
                help
                    Set the first SPI Ethernet module PHY address according your board schematic.
        endif # BRIDGE_USE_SPI_ETHERNET
    endmenu

    menu "Modem Configuration"
        depends on BRIDGE_EXTERNAL_NETIF_MODEM

        choice ESP_BRIDGE_MODEM_TYPE
            prompt "Modem Type"
            default BRIDGE_MODEM_USB if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
            default BRIDGE_MODEM_UART if !IDF_TARGET_ESP32S2 && !IDF_TARGET_ESP32S3
            help
                Select which kind of modem interface will be used in the ESP-Bridge.

            config BRIDGE_MODEM_UART
                bool "UART"

            config BRIDGE_MODEM_USB
                bool "USB"
                depends on IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        endchoice

        if BRIDGE_MODEM_UART
            config ESP_BRIDGE_MODEM_TX_GPIO
                int "UART Tx GPIO number of Modem"
                range BRIDGE_GPIO_RANGE_MIN BRIDGE_GPIO_RANGE_MAX
                default 32 if IDF_TARGET_ESP32
                default 4 if IDF_TARGET_ESP32C3
                help
                    Set the GPIO number used by uart Tx

            config ESP_BRIDGE_MODEM_RX_GPIO
                int "UART Rx GPIO number of Modem"
                range BRIDGE_GPIO_RANGE_MIN BRIDGE_GPIO_RANGE_MAX
                default 33 if IDF_TARGET_ESP32
                default 5 if IDF_TARGET_ESP32C3
                help
                    Set the GPIO number used by uart Rx

            config ESP_BRIDGE_MODEM_BAUD_RATE
                int "UART baud rate of Modem"
                default 115200
                help
                    Set the baud rate of uart

            config BRIDGE_MODEM_CUSTOM_BOARD
                bool "Use extended DCE object"
                default n
                help
                    This settings extends the default DCE object provided by esp-modem
                    to implement board specific features, using GPIO's to reset/restart
                    the modem and retry/resend strategy if certain AT command fails
        endif    

        config LED_RED_SYSTEM_GPIO
            int "System status led (red) gpio, set 0 if not use"
            default 15
        config LED_BLUE_WIFI_GPIO
            int "Wi-Fi status led (blue) gpio, set 0 if not use"
            default 17
        config LED_GREEN_4GMODEM_GPIO
            int "Modem status led (green) gpio, set 0 if not use"
            default 16
        config MODEM_POWER_GPIO
            int "Modem power control gpio, set 0 if not use"
            default 12
        config MODEM_RESET_GPIO
            int "Modem reset control gpio, set 0 if not use"
            default 13

        config MODEM_DIAL_RERTY_TIMES
            int "Retry times during dial"
            default 5
            help
                Set retry times waitting for modem link with carrier base station

        config BRIDGE_MODEM_PPP_APN
            string "Set MODEM APN"
            default "internet"
            help
                Set APN (Access Point Name), a logical name to choose data network
    endmenu

    menu "Bridge Wi-Fi Provisioning Configuration"
        depends on BRIDGE_USE_WIFI_PROVISIONING_OVER_BLE

        choice ESP_BRIDGE_PROV_TRANSPORT
            bool "Provisioning Transport"
            default ESP_BRIDGE_PROV_TRANSPORT_BLE
            help
                Wi-Fi provisioning component offers both, SoftAP and BLE transports. Choose any one.

            config ESP_BRIDGE_PROV_TRANSPORT_BLE
                bool "BLE"
                select BT_ENABLED
                depends on !IDF_TARGET_ESP32S2
        endchoice

        choice ESP_BRIDGE_PROV_SECURITY_VERSION
            bool "Protocomm security version"
            default ESP_BRIDGE_PROV_SECURITY_VERSION_2
            help
                Wi-Fi provisioning component offers 3 security versions.
                The example offers a choice between security version 1 and 2.

            config ESP_BRIDGE_PROV_SECURITY_VERSION_1
                bool "Security version 1"
                select ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_1

            config ESP_BRIDGE_PROV_SECURITY_VERSION_2
                bool "Security version 2"
                select ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_2
        endchoice

        choice ESP_BRIDGE_PROV_MODE
            bool "Security version 2 mode"
            depends on ESP_BRIDGE_PROV_SECURITY_VERSION_2
            default ESP_BRIDGE_PROV_SEC2_DEV_MODE

            config ESP_BRIDGE_PROV_SEC2_DEV_MODE
                bool "Security version 2 development mode"
                depends on ESP_BRIDGE_PROV_SECURITY_VERSION_2
                help
                    This enables the development mode for
                    security version 2.
                    Please note that this mode is NOT recommended for production purpose.

            config ESP_BRIDGE_PROV_SEC2_PROD_MODE
                bool "Security version 2 production mode"
                depends on ESP_BRIDGE_PROV_SECURITY_VERSION_2
                help
                    This enables the production mode for
                    security version 2.
        endchoice

        config ESP_BRIDGE_PROV_TRANSPORT
            int
            default 1 if ESP_BRIDGE_PROV_TRANSPORT_BLE

        config ESP_BRIDGE_RESET_PROVISIONED
            bool
            default n
            prompt "Reset provisioned status of the device"
            help
                This erases the NVS to reset provisioned status of the device on every reboot.
                Provisioned status is determined by the Wi-Fi STA configuration, saved on the NVS.

        config ESP_BRIDGE_RESET_PROV_MGR_ON_FAILURE
            bool
            default y
            prompt "Reset provisioned credentials and state machine after session failure"
            help
                Enable reseting provisioned credentials and state machine after session failure.
                This will restart the provisioning service after retries are exhausted.

        config ESP_BRIDGE_PROV_MGR_MAX_RETRY_CNT
            int
            default 5
            prompt "Max retries before reseting provisioning state machine"
            depends on ESP_BRIDGE_RESET_PROV_MGR_ON_FAILURE
            help
                Set the Maximum retry to avoid reconnecting to an inexistent AP or if credentials
                are misconfigured. Provisioned credentials are erased and internal state machine
                is reset after this threshold is reached.

        config ESP_BRIDGE_PROV_SHOW_QR
            bool "Show provisioning QR code"
            default y
            help
                Show the QR code for provisioning.

        config ESP_BRIDGE_PROV_USING_BLUEDROID
            bool
            depends on (BT_BLUEDROID_ENABLED && (IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3))
            select BT_BLE_42_FEATURES_SUPPORTED
            default y
            help
                This enables BLE 4.2 features for Bluedroid.
    endmenu
endmenu
