CONFIG_ETHERNET_SPI_SUPPORT=n
CONFIG_ETHERNET_INTERNAL_SUPPORT=n

#
# TinyUSB Stack
#
CONFIG_TINYUSB_DEBUG_LEVEL=0

#
# Network driver (ECM/NCM/RNDIS)
#
CONFIG_TINYUSB_NET_MODE_NCM=y

CONFIG_TINYUSB_TASK_AFFINITY_CPU0=y
CONFIG_TINYUSB_INIT_IN_DEFAULT_TASK=y
